{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <a class="col-md-3" href="{{ ea_url().setController('App\\Controller\\Admin\\UserCrudController') }}">
                <div class="card-counter info">
                    <i class="fa fa-users"></i>
                    <span class="count-numbers">{{ user_count }}</span>
                    <span class="count-name">Utilisateurs</span>
                </div>
            </a>

            <a class="col-md-3" href="{{ ea_url().setController('App\\Controller\\Admin\\PropertyCrudController') }}">
                <div class="card-counter success">
                    <i class="fa fa-house"></i>
                    <span class="count-numbers">{{ property_count }}</span>
                    <span class="count-name">Biens</span>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="card mt-5 col-lg-6 mx-1">
                <div class="card-body">
                    <h5 class="card-title">Les meillieurs biens par catégorie</h5>
                    <input type="date" value="{{ "now"|date("Y-m-d") }}">
                    <hr>
                    {% for favorite in favories_categories %}
                        <p><em>{{ favorite.c }}</em> ({{ favorite.num_properties }} bien en favori)</p>
                    {% endfor %}
                </div>
            </div>

            <div class="card mt-5 col-lg-6 mx-1">
                <div class="card-body">
                    <h5 class="card-title">Les meillieurs biens par département</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Journalier ({{ favorites_department|length }})</h6>
                    <hr>
                    {% for favorite in favorites_department %}
                        <p><em>Département {{ favorite.DEP }}</em> - {{ favorite.title }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
