<footer class="footer section section-sm">
    <!-- Container Start -->
    <div  class="container">
        <div class="row">
            <div style="flex: 0 0 auto; text-align: justify;" class=" col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
                <!-- About -->
                    <!-- description -->
                    <p class="alt-color ">Particulièrement dynamique, le marché de l'immobilier en France constitue un investissement de choix pour ceux qui souhaitent construire un patrimoine durable.
                        SAFER vous accompagne dans votre processus de recherche de votre prochaine acquisition ou location
                    immobilière. Que vous soyiez propriétaire désireux de vendre ou à la recherche de biens à louer, nous sauront vous
                    aider en vous présentant les derniers biens immobiliers correspondant au profil qui vous correspond le mieux. </p>
            </div>

            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
                <div class="block">
                    <ul>
                        <li><a href="{{ path('annonces') }}">Mes annonces sur SAFER</a></li>
                        <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                        <li><a href="{{ path('conditions') }}">Conditions générales</a></li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0 col-6 mb-4 mb-md-0">
                <div class="block">
                    <ul>
                        <li><a href="{{ path('about') }}">A propos de SAFER</a></li>
                        <li><a href="{{ path('client') }}">Service Client</a></li>
                        <li><a href="{{ path('politique') }}">Politique de protection des données</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div style="text-align: center">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> tous droits réservés SAFER</p>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Social Icons -->
                <ul class="social-media-icons text-center text-lg-right">
                    <li><a class="fa fa-facebook" href="https://www.facebook.com/themefisher"></a></li>
                    <li><a class="fa fa-twitter" href="https://www.twitter.com/themefisher"></a></li>
                    <li><a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher"></a></li>
                    <li><a class="fa fa-github-alt" href="https://www.github.com/themefisher"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <div class="scroll-top-to">
        <i class="fa fa-angle-up"></i>
    </div>
</footer>