<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand" href="{{ path('app') }}">
                        <img src="{{ asset('image/image-safer.jpg') }}" alt="Logo" style="width:200px;height:100px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav">
                            {# TODO: active menu #}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app') }}">Accueil</a>
                            </li>
                            <li class="nav-item dropdown dropdown-slide @@dashboard">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('app_property_index') }}?type=Vente">Acheter
{#                                    <span><i class="bi bi-caret-down-fill"></i></span>#}
                                </a>

                                <!-- Dropdown list -->
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a class="dropdown-item @@dashboardMyAds" href="dashboard-my-ads.html">Dashboard My Ads</a></li>#}
{#                                    <li><a class="dropdown-item @@dashboardFavouriteAds" href="dashboard-favourite-ads.html">Dashboard Favourite Ads</a></li>#}
{#                                    <li><a class="dropdown-item @@dashboardArchivedAds" href="dashboard-archived-ads.html">Dashboard Archived Ads</a></li>#}
{#                                    <li><a class="dropdown-item @@dashboardPendingAds" href="dashboard-pending-ads.html">Dashboard Pending Ads</a></li>#}

{#                                    <li class="dropdown dropdown-submenu dropright">#}
{#                                        <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>#}

{#                                        <ul class="dropdown-menu" aria-labelledby="dropdown0501">#}
{#                                            <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>#}
{#                                            <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                </ul>#}
                            </li>
                            <li class="nav-item dropdown dropdown-slide @@pages">
                                <a class="nav-link dropdown-toggle" href="{{ path('app_property_index') }}?type=Location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Louer
{#                                    <span><i class="fa fa-angle-down"></i></span>#}
                                </a>
                                <!-- Dropdown list -->
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a class="dropdown-item @@about" href="about-us.html">About Us</a></li>#}
{#                                    <li><a class="dropdown-item @@contact" href="contact-us.html">Contact Us</a></li>#}
{#                                    <li><a class="dropdown-item @@profile" href="user-profile.html">User Profile</a></li>#}
{#                                    <li><a class="dropdown-item @@404" href="404.html">404 Page</a></li>#}
{#                                    <li><a class="dropdown-item @@package" href="package.html">Package</a></li>#}
{#                                    <li><a class="dropdown-item @@singlePage" href="single.html">Single Page</a></li>#}
{#                                    <li><a class="dropdown-item @@store" href="store.html">Store Single</a></li>#}
{#                                    <li><a class="dropdown-item @@blog" href="blog.html">Blog</a></li>#}
{#                                    <li><a class="dropdown-item @@singleBlog" href="single-blog.html">Blog Details</a></li>#}
{#                                    <li><a class="dropdown-item @@terms" href="terms-condition.html">Terms &amp; Conditions</a></li>#}
{#                                </ul>#}
                            </li>

                        </ul>
                        <ul class="navbar-nav ml-auto mt-10">
                            {% if is_granted('IS_AUTHENTICATED') %}
                                <li class="nav-item">
                                    <a class="nav-link login-button" href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a class="nav-link add-button" href="{{ path('admin_dashboard') }}">Admin</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link login-button" href="{{ path('app_login') }}">Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link add-button" href="{{ path('app_register') }}">Inscription</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>