
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!--===============================
   =            Hero Area            =
   ================================-->


<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Content -->
                <div class="content-block">
                    <h1>Devenez propriétaire ou locataire aujourd'hui </h1>
                    <p>Appartenez aux milliers de personnes qui achetents et louent <br>tous les jours à travers la
                        France</p>
                    <div class="short-popular-category-list text-center">
                        <h2>Catégories les plus populaires</h2>
                        <ul class="list-inline">
                            {%  for category in categories %}
                            <li class="list-inline-item">
                                <a href="{{ path('app_property_index') }}?category={{ category.id }}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Advance Search -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advance Search -->
                            {% form_theme form with ['foundation_5_layout.html.twig'] only %}
                            {{ form_start(form) }}
                            <div class="advance-search nice-select-white">
                                <div class="row align-items-center">
                                    <div class="form-group col-xl-4 col-lg-4 col-md-6">
                                        {{ form_row(form.search) }}
                                    </div>

                                    <div class="form-group col-lg-2 col-md-6">
                                        {{ form_row(form.type) }}
                                    </div>

                                    <div class="form-group col-lg-2 col-md-6">
                                        {{ form_row(form.category) }}
                                    </div>

                                    <div class="form-group col-lg-2 col-md-6" data-controller="city" data-city-searchable-value="true" data-city-placeholder-value="Localisation">
                                        {{ form_row(form.city) }}
                                    </div>

                                    <div class="form-group col-xl-1 col-lg-2 col-md-6">
                                        <button type="submit" class="btn btn-primary active">Rechercher</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form, {render_rest: false}) }}
                        </div>
                    </div>
                </div>

{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        <div class="advance-search nice-select-white">#}
{#                            <div class="row align-items-center">#}
{#                                {% form_theme form with ['foundation_5_layout.html.twig'] only %}#}
{#                                {{ form_start(form) }}#}
{#                                    <div class="form-row">#}
{#                                        <div class="form-group col-xl-3 col-lg-3 col-md-6">#}
{#                                            {{ form_row(form.search) }}#}
{#                                        </div>#}

{#                                        <div class="form-group col-lg-2 col-md-6">#}
{#                                            {{ form_row(form.type) }}#}
{#                                        </div>#}

{#                                        <div class="form-group col-lg-2 col-md-6">#}
{#                                            {{ form_row(form.category) }}#}
{#                                        </div>#}

{#                                        <div class="form-group col-lg-2 col-md-6" data-controller="city" data-city-searchable-value="true" data-city-placeholder-value="Localisation">#}
{#                                            {{ form_row(form.city) }}#}
{#                                        </div>#}

{#                                        <div class="form-group col-xl-1 col-lg-2 col-md-6">#}
{#                                            <button type="submit" class="btn btn-primary active">Rechercher</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                {{ form_end(form, {render_rest: false}) }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Bens d'exception</h2>
                    <p>Découvrez tous nos biens disponibles à la vente ou à la location</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- offer 01 -->
            <div  class="col-lg-12">
                <div  class="trending-ads-slide row">
                    {% for property in properties %}
                        {% set propertyPath = path('app_property_show', {id: property.id}) %}
                        <div class="col-lg-4 col-md-6">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <!-- <div class="price">$200</div> -->
                                        <a href="{{ propertyPath }}">
                                            <img class="card-img-top img-fluid img-card-content" src="{{ asset('image/property/' ~ property.images.first) }}"
                                                 alt="{{ property.title }}">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="{{ propertyPath }}">{{ property.title }}</a></h4>
                                        <p class="card-text">{{ property.description|u.truncate(55, ' ...', false) }}</p>

                                        {% if property.price != 0 %}
                                            <p class="h3">{{ property.price|number_format(0, '.', ' ') }} € {{ property.type == 'Location' ? ' / mois' : '' }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
{#                    {% for property in properties  %}#}

{#                    <div class="col-sm-12 col-lg-4">#}
{#                        <!-- product card -->#}
{#                        <div class="product-item bg-light">#}
{#                            <div class="card">#}
{#                                <div class="thumb-content">#}
{#                                    <!-- <div class="price">$200</div> -->#}
{#                                    <a href="single.html">#}
{#                                        <img class="card-img-top img-fluid" src="images/products/products-1.jpg"#}
{#                                             alt="Card image cap">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <h4 class="card-title"><a href="single.html">{{ property.title }}</a></h4>#}
{#                                    <ul class="list-inline product-meta">#}
{#                                        <li class="list-inline-item">#}
{#                                            <a href="single.html"><i class="fa fa-folder-open-o"></i>{{ property.getCategory() }}</a>#}
{#                                        </li>#}
{#                                        <li class="list-inline-item">#}
{#                                            <a href="category.html"><i class="fa fa-calendar"></i>{{ property.getUpdatedAt() | date('d-m-Y') }}</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                    <p class="card-text"></p>#}
{#                                    <div class="product-ratings">#}
{#                                        <ul class="list-inline">#}
{#                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>#}
{#                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>#}
{#                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>#}
{#                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>#}
{#                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}


{#                    </div>#}

{#                    {% endfor %}#}
                </div>
            </div>
        </div>
    </div>
</section>


<!--==========================================
=            All Category Section            =
==========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>Catégorie des biens disponibles</h2>
                    <p>Découvrez la diversité de nos biens à travers les catégories auxquels ils appartiennent. </p>
                </div>
                <div class="row justify-content-around">
                    <!-- Category list -->
                    {% for category in categories %}
                    <div class="col-lg-2">
                        <div class="category-block">
                            <div class="header">
{#                                <i class="fa fa-laptop icon-bg-1"></i>#}
                                <h4>{{ category.name }}</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{{ path('app_property_index') }}?category={{ category.id }}">Disponibles <span>{{ category.properties|length }}</span></a></li>
                                <li><a href="{{ path('app_property_index') }}?category={{ category.id }}&type=Location">Locations <span>{{ category.properties|filter(p => p.type == 'Location')|length }}</span></a></li>
                                <li><a href="{{ path('app_property_index') }}?category={{ category.id }}&type=Vente">Vente <span>{{ category.properties|filter(p => p.type == 'Vente')|length }}</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->

                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <!-- Container End -->
</section>


<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
    <!-- Container Start -->
    <div class="container position-relative">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-8">
                <div class="content-holder">
                    <h2>Commencez dès aujourd'hui pour vos opérations immobilières que vous soyiez propriétaire ou en recherche de biens immobiliers. </h2>
                    <ul class="list-inline mt-30">
                        <li class="list-inline-item"><a class="btn btn-main" href="ad-listing.html">Ajouter une annonce</a></li>
                        <li class="list-inline-item"><a class="btn btn-secondary" href="category.html">Liste des navigateurs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
{% endblock %}